/* Main Title */

.main-title h1 {
    font-size: 2.5em;
}

/* Main */

main.wrapper {
    display: flex;
    align-items: flex-start;
}

/* Contents Menu */

.contents {
    flex: 0 0 200px;
    position: sticky;
    top: 5px;
    padding-top: 20px;
}

.contents h3 {
    color: #FB9C1B;
}

.contents ul {
    list-style-type: none;
    font-size: 0.9rem;
    padding: 0;
}

.contents a {
    text-decoration: none;
    color: white;
    line-height: 1.75rem;
}

.contents a:hover {
    text-decoration: underline;
}

.contents hr {
    width: 150px;
    margin: 2px 0;
}

.active-li {
    list-style-image: url("../images/orange-border.png");
}

/* Main Content */
.main-content {
    /* background-color: white;
    padding: 15px 75px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 100px; */
    margin-bottom: 100px;
    width: 100%;
}


.main-content h2 {
    font-family: Raleway;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: white;
    text-shadow: 2px 2px #333;
}

.main-content h3 {
    /* font-family: "Raleway", sans-serif; */
    font-family: 'Economica', sans-serif;
    font-size: 2rem;
    font-variant: small-caps;
    /* color: #7e6e09; */
    color: #7e3409;
    letter-spacing: 0.5px;
}

.combo-box {
    display: flex;
}

.combo-box div:first-child {
    margin-right: 20px;
}

.main-content h4:first-child,
.main-content p:first-child {
    margin-top: 0;
}

.main-content h4 {
    margin-bottom: 5px;
    font-variant: small-caps;
    font-size: 1.25rem;
}

.main-content a {
    color: #09457e;
    font-weight: bold;
}

.main-content .example {
    font-style: italic;
}

.column-box {
    display: flex;
}

.column-box ul {
    flex: 1;
}

hr.divider {
    width: 560px;
    margin: 10px 0;
}

/* Tabbed Styles */

.tabbed-menu div {
    display: inline-block;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 15px 15px 0 0;
    border: 1px solid white;
    border-bottom: none;
    color: white;
    font-variant: small-caps;
    font-family: 'Economica', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.25px;
}

.tabbed-menu .active-tab {
    background-color: white;
    color: #333;
    text-decoration: underline #FB9C1B;
}

.tabbed-menu div:hover {
    background-color: #FB9C1B;
    color: white;
}

.tabbed-content {
    background-color: white;
    padding: 5px 50px 25px;
    border-radius: 0 15px 15px 15px;
}

/* Generic box */
.highlight-box {
    display: inline-block;
    font-size: 1.2rem;
    border: 1px solid #FB9C1B;
    text-align: center;
    padding: 10px 50px;
  }